@model List<Ban_Hang_Dien_Tu_CNWeb.Models.CartItem>


<li class="hm-minicart">
    <div class="hm-minicart-trigger">
          <span class="item-icon"></span>
          <span class="item-text">
              <span class="cart-item-count">@Model.Count</span>
         </span>
    </div>

</li>
    

